<html>
<head> 
<script type="text/javascript">
function altRows(id){
  if(document.getElementsByTagName){  
    
    var table = document.getElementById(id);  
    var rows = table.getElementsByTagName("tr"); 
     
    for(i = 0; i < rows.length; i++){          
      if(i % 2 == 0){
        rows[i].className = "evenrowcolor";
      }else{
        rows[i].className = "oddrowcolor";
      }      
    }
  }
}
window.resize=function(){
  altRows('JobInfo');
}

window.onload = resize;
window.onresize = resize;
</script>

<style type="text/css">
table.altrowstable {
  font-family: verdana,arial,sans-serif;
  font-size:11px;
  color:#333333;
  border-width: 1px;
  border-color: #a9c6c9;
  border-collapse: collapse;
}
table.altrowstable th {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #a9c6c9;
}
table.altrowstable td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #a9c6c9;
}
.oddrowcolor{
  background-color:#d4e3e5;
}
.evenrowcolor{
  background-color:#c3dde0;
}
</style>
</head>
<body>

<center><h1><%= "#{@JenkinsJob.testname}"%> Information</h1></center>
<div style="text-align: center; margin-top: 20px">
  <div class="span4 offset2">
    <h2>Summary of Jenkins Job</h2>
  </div>
  <div style="text-align: left; margin-top: 20px">
   <div class="span4">
    <div>
    <center><table class="altrowstable" id="JobInfo">
      <tr>
        <th>Username</th><td><%="#{@JenkinsJob.username}"%></td>
      </tr>
      <tr>
        <th>Display Name</th><td><%="#{@JenkinsJob.displayName}"%></td>
      </tr>
      <tr>
        <th>Description</th><td><%="#{@JenkinsJob.description}"%></td>
      </tr>
      <tr>
        <th>URL</th><td><%=link_to("#{@JenkinsJob.url}", "#{@JenkinsJob.url}")%></td>
      </tr>
      <tr>
        <th>Last Build Number</th><td><%="#{@JenkinsJob.LastBuildNum}"%></td>
      </tr>
      <tr>
        <th>Last Build URL</th><td><%=link_to("#{@JenkinsJob.LastBuildURL}", "#{@JenkinsJob.url}")%></td>
      </tr>
      <tr>
        <th>Last Successful Build Number</th><td><%="#{@JenkinsJob.lastSuccessfulBuildNum}"%></td>
      </tr>
      <tr>
        <th>Status</th><td><%="#{@JenkinsJob.status}"%></td>
      </tr>
      <tr>
        <th>Health Report Test Status</th><td><%="#{@JenkinsJob.HealthReportTestStatus}"%></td>
      </tr>
      <tr>
        <th>Health Report Build Status</th><td><%="#{@JenkinsJob.HealthReportBuildStatus}"%></td>
      </tr>
      <tr>
        <th>Test Results</th><td><%="#{@JenkinsJob.testResults}".html_safe%></td>
      </tr>

    </table><center>
    </div>
   </div>
  </div>

  <div class="span3" style="text-align: center; margin-top: 20px">
    <center><table>
      <tr><th><%= "Builds: "%></th></tr>
        <!--<%= i = 1 %>-->
        <%= while !(JenkinsBuild.where(id: i).blank?) do %>
          <!--<% if JenkinsBuild.find(i).jobID == @JenkinsJob.id%>-->
            <tr align="center"><td><%= link_to "#{JenkinsBuild.find(i).number}", :controller=> "jenkins_build", :action=> "buildInfo", :id=> "#{i}"%></td></tr>
          <%end%>
          <!--<%= i += 1 %>-->
        <%end%>
        <tr><td><%= link_to "<button>Get Build</button>".html_safe, :controller=> "jenkins_job", :action=> "getBuild", :id=> "#{@JenkinsJob.id}"%></td></tr>
    </table>
  </div>
  </div>
    <div style="margin-top: 20px">
          <div style="text-align: left">
      <%= link_to "<<<<Back", :controller=> "jenkins_factory", :action=> "getInfo", :id=> "#{@JenkinsJob.factoryID}"%></div>
  </div>
</div>
</body>
</html>