<h1>JenkinsFactory Create New</h1>
<div style="text-align: center; margin-top: 20px">
  <div class="span4 offset2">
    <h2>Stay in touch.</h2>
  </div>
  <div class="span4">
    <div>
      <%= simple_form_for :@JenkinsFactory do |f| %>
        <%= f.error_notification %>
        <%= f.input :username, label: false, :placeholder => 'Your username...' %>
        <%= f.input :password, label: false, :placeholder => 'Your password...' %>
        <%= f.submit "Add Jenkins User", :class => "btn btn-primary"%>
      <% end %>
    </div>
  </div>
</div>
